# DS_Store files
.DS_Store

.ipynb_checkpoints/

__pycache__/

config.py

config.js

craft_beer_fest_data3.csv

craft_beer_fest_data2.csv
craft_beer_fest_data.csv
craft_beer_fest_data.xlsx
Brewers_Association_Brewery_Data.xls
beer_reviews.csv
Brews Proj/assets/data/CraftBreweries.csv
Brews Proj/assets/data/beer_reviews.csv
Brews Proj/assets/data/craft_beer_fest_data3.csv



