<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Bubble</title>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css') }}">

</head>
<style>

  text {
    font: 10px sans-serif;
  }
  
  div.tooltip { 
      color: white;
      position: absolute;     
      text-align: left;     
      width: 130px;         
      height: 060px;          
      padding: 2px;       
      font: 10px sans-serif;    
      background: #333; 
      border: 1px solid lightgrey;    
      border-radius: 5px; 
      visibility: hidden;
      pointer-events: none;     
  }

  .radio-inline {
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
  }
      
  
  </style>
<body>
  <div class="background-cover">
    <nav class="navbar navbar-default">
          <div class="container-fluid navbar-custom">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
              <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <div class="col-xs-9 phone-nav">
                  <a class="navbar-brand" href="../../index.html" id="logo">Craft Beer Analysis</a>
                </div> <!--/.col .phone-nav -->

              </div> <!--/.navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="dropdown pull-right" style="padding-bottom: 10px">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Navigation
              </button>
              <ul class="dropdown-menu">
                <li><a href="map.html">Geo Map</a></li>
                <li><a href="bubble.html">Bubble Chart</a></li>
                 <li><a href="scatter.html">Scatter Plot</a></li>
               </ul>

            </div>
          </div><!-- /.navbar-collapse -->


            </div> <!--/.row-->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- End of navbar -->
  <!-- page heading. -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Craft Beer: Bubble Chart Analysis</h1>
        <div class="pull-right">
          <label class="radio-inline"><input value="brewery_name" class="filters" type="radio" name="optradio" checked>Breweries</label>
          <label class="radio-inline"><input value="state" class="filters" type="radio" name="optradio">States</label>
          <label class="radio-inline"><input value="city" class="filters" type="radio" name="optradio">Cities</label>
          <label class="radio-inline"><input value="style" class="filters" type="radio" name="optradio">Style</label>
        </div>
      </div>
      </div> <!--/.col -->
    </div> <!--/.row -->

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-8 offset-xs-4 offset-sm-3 offset-md-4 offset-lg-4" id="body_bubbles">
        </div>
      </div>
  </div>

  <!-- Footer  change the text alignment/order -->
  <div class="container-fluid" id="footer">
  <!--<div id="footer">-->
    <div class="row row-no-gutters">                                         
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="footertxt">
        Created by: Mike, Chris, Cindy, Robert
        <br>
        <a href="https://data.world/gswider/2013-acbf-styles-ratings">Link to Data Source</a>
      </div> <!--/.col /#footertxt -->
    </div> <!--/.row .row-no-gutters -->
  </div> <!--/.container-fluid -->

  <!-- scripts -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- D3 CDN -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <!-- Our JS -->
  <!-- <script type="text/javascript" src="../static/js/config.js"></script> -->
  <!-- <script type="text/javascript" src="../js/app3.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/breweriesBubbles.js') }}"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
  var myGeocode = {{ appData|tojson }};
  var appDataObj = JSON.parse(myGeocode)

  var statesDataObj = appDataObj[0]
  var statesDataObjFinal = statesDataObj["states"]
  console.log(statesDataObjFinal)

  var citiesDataObj = appDataObj[1]
  var citiesDataObjFinal = citiesDataObj["cities"]
  console.log(citiesDataObjFinal)

  var styleDataObj = appDataObj[3]
  var styleDataObjFinal = styleDataObj["style"]
  console.log(styleDataObjFinal)

  var breweriesDataObj = appDataObj[2]
  var breweriesDataObjFinal = breweriesDataObj["breweries"]
  console.log(breweriesDataObjFinal)

  var collectionsObject = {'state':statesDataObjFinal,'city':citiesDataObjFinal,'style':styleDataObjFinal,'brewery_name':breweriesDataObjFinal}

  // Constants
  var diameter = 500,
      format = d3.format(",d"),
      color = d3.scale.category20c();

  // Define a bubble object with attributes
  var bubble = d3.layout.pack()
      .sort(null)
      .size([diameter, diameter])
      .padding(1.5);

  // Define svg object
  var svg = d3.select("#body_bubbles").append("svg")
      .attr("width", diameter)
      .attr("height", diameter)
      .attr("class", "bubble");

  // Define 'div' for tooltips
  var div = d3.select("#body_bubbles") 
      .append("div")  // declare the tooltip div 
      .attr("class", "tooltip")
      .style("opacity", 0);
      //.text("a simple tooltip");


  // d3.json("breweriesBubbles.json", function(error, root) {
  //   // Throw warning
  //   if (error) return console.warn(error);

    // Get the data from the JSON file 
    pts = getTheData(breweriesDataObjFinal);

    // Visualise the data
    visualiseIt(pts);

  // });


  // Get the data from the json file
  function getTheData(root){
    console.log(root)
      // Get the node values
    var pts = bubble.nodes(classes(root)).filter( function(d) {
      // console.log(!d.children)
      return !d.children;} );
      
    // console.log(pts)
    return pts;
    
  }

  // Visualise the data function 
  function visualiseIt(pts){
    // transition
    var t = d3.transition()
        .duration(25000);
    // Define a node
    // Use a <g> element to put multiple elements in the same location, such
    // as a <circle> and <text> element.
    var node = svg.selectAll(".node")
        .data(pts)
            .enter().append("g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })

    // Shape for each node
    node.append("circle").transition(t)
        .attr("r", function(d) { return d.r; })
        .style("fill", function(d) { return color(d.packageName); });

    // Label for each node
    node.append("text")
        .attr("dy", ".3em")
        .style("text-anchor", "middle")
        .text(function(d) { return d.className.substring(0, d.r / 3); });

    // Tooltip for bubble
    node.on("mouseover", function(d) {    
                div .transition()
                    .duration(100)    
                    .style("visibility", "visible")
                    .style("opacity", 0.9);
                div .html(
                        "Package: " +d.packageName +"<br/>"+
                        "Class: "   +d.className   +"<br/>"+
                        "Size: "    +d.value 
                    )
                    .style("left", (d3.event.pageX -475) + "px")             
                    .style("top", (d3.event.pageY-200) + "px");
                })
        .on("mouseout", function(){return div.style("visibility", "hidden");});
  } // visualiseIt(pts)


  // Returns a flattened hierarchy containing all leaf nodes under the root.
  function classes(root) {
    var classes = [];

    function recurse(name, node) {
      if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
      else classes.push({packageName: name, className: node.name, value: node.size});
    }

    recurse(null, root);
    return {children: classes};
  }

  d3.select(self.frameElement).style("height", diameter + "px");

  $(".filters").click(function(event){
    var radioValue = $("input[name='optradio']:checked").val();
    
    d3.selectAll("svg > *").remove();
    
    // d3.json(collectionsObject[radioValue], function(error, root) {
    //   // Throw warning
    //   if (error) return console.warn(error);
    
      // Get the data from the JSON file 
      pts = getTheData(collectionsObject[radioValue]);
    
      // Visualise the data
      visualiseIt(pts);

  // });
  });
  </script>

</body>

</html>
