<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Craft Beer</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/d3Style.css">

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

</head>

<body>

<!-- *****************Navigation Bar ******* -->
  <div class="topnav">   
    <div class="row">
      <div class="col-sm-2"><a href="index.html"><b>Home</b></a> </div>
      <div class="col-sm-4"> </div>
      <div class="col-sm-2">    <a href="a.html">one map</a> </div>
      <div class="col-sm-2">    <a href="b.html">a chart</a></div>
      <div class="col-sm-2">    <a href="c.html">c page</a></div>
    </div>
  </div> 


              <!-- page heading. -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1>left hand chart</h1>
      </div>
    </div>
              <!-- intro blurb and links. --> 
    <div class="row">
      <div class="col-sm-1" id="txtbox"></div>

      <div class="col-sm-9" id="txtbox">insert chart
      </div>

      <div class="col-sm-2" id="txtbox">
        <div id="txt">
           <p> <b># insert text about the data viz</b></p>
           
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div class="article">
          <h2>Craft Beer Findings</h2>

 <!-- below is the container closing tag-->
</div></div></div>

  <!-- Footer--  change the text alignment/order -->
  <div class="container-fluid" id="footer">
  <!--<div id="footer">-->
    <div class="row row-no-gutters">
      
      <div class="col-sm-3" id="footertxt">Data Source:  https://data.world/gswider/2013-acbf-styles-ratings
      </div>
      <div class="col-sm-9">
        Created by: Mike, Chris, Cindy, Robert
      </div>
  </div>
</div>

  <!-- scripts - untag the js script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

</body>

</html>
